@{
    ViewData["Title"] = "Bibliotheque en ligne";
}

<div class="about-bottom">
    <div class="row">
        <div class="col-md-6 w3l_about_bottom_left header-w3l" style="padding-top: 38px;">
            <h4 style="font-family: cursive;">Bienvenue sur notre bibliotheque en ligne</h4>
            <div class="video-grid-single-page-agileits " style="padding-top: 20px">
                <img src="images/DSP_av2022.jpg" alt="" class="img-responsive" />
            </div>
        </div>
        <div class="col-md-6 w3l_about_bottom_right one" style="background-color: white">
            <div class="abt-w3l">
                <div class="header-w3l">
                    <h4>Formulaire d'inscription</h4>
                    <form action="#" method="post" class="mod2">
                        <div class="row">
                            <div class="col-md-6 col-xs-6 w3l-left-mk">
                                <ul>
                                    <li class="text">Nom :  </li>
                                    <li class="agileits-main"><i class="fa fa-user-o" aria-hidden="true"></i><input name="name" type="text" required=""></li>
                                    <li class="text">Prenom :  </li>
                                    <li class="agileits-main"><i class="fa fa-calendar" aria-hidden="true"></i><input class="date" id="datepicker" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="" /></li>
                                    <li class="text">Date de naissance  :  </li>
                                    <li class="agileits-main"><i class="fa fa-user-o" aria-hidden="true"></i><input name="name" type="text" required=""></li>
                                    <li class="text">Sexe  :  </li>
                                    <li class="agileits-main"><i class="fa fa-user-o" aria-hidden="true"></i><input name="gender" type="text" required=""></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-6 w3l-right-mk">
                                <ul>
                                    <li class="text">Numero de telephone  :  </li>
                                    <li class="agileits-main"><i class="fa fa-phone" aria-hidden="true"></i><input name="mobile" type="text" required=""></li>
                                    <li class="text">Situation matrimoniale  :  </li>
                                    <li class="agileits-main"><i class="fa fa-home" aria-hidden="true"></i><input name="address" type="text" required=""></li>
                                    <li class="text">Fonction  :  </li>
                                    <li class="agileits-main"><i class="fa fa-map-marker" aria-hidden="true"></i><input name="address" type="text" required=""></li>
                                    <li class="text">Adresse  :  </li>
                                    <li class="agileits-main"><i class="fa fa-map-marker" aria-hidden="true"></i><input name="address" type="text" required=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="agile-submit">
                            <input type="submit" value="Valider">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!--stats-->
<div class="stats" id="stats">
    <div class="container">
        <div class="stats-info">
            <div class="row">
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='1276' data-max='1276' data-delay='.5' data-increment="0">1276</div>

                    <h4 class="stats-info">ETUDIANTS</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='3100' data-max='3100' data-delay='.5' data-increment="0">3100</div>

                    <h4 class="stats-info">PROFESSEURS</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='7900' data-max='7900' data-delay='.5' data-increment="0">7900</div>

                    <h4 class="stats-info">EMPRENT</h4>
                </div>
                <div class="col-md-3 col-xs-3 stats-grid slideanim">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='600' data-max='600' data-delay='.5' data-increment="0">600</div>

                    <h4 class="stats-info">LUES</h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//stats-->
