@{
    ViewData["Title"] = "Bibliotheque en ligne";
}

@model IEnumerable<planete_biblio.Entities.Livre>

<div class="row pt-4">
    <div class="col-md-2">
        <ul>
            <li>
                <a class="" style="font-size: 16px" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">MATHEMATIQUES</a>

                <div class="collapse multi-collapse list-group" id="multiCollapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Algebre</a>
                    <a href="#" class="list-group-item list-group-item-action">Probabilite</a>
                    <a href="#" class="list-group-item list-group-item-action">Statistique</a>
                </div>
            </li>
            <li>
                <a class="" style="font-size: 16px" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample2">PHYSIQUE</a>

                <div class="collapse multi-collapse list-group" id="multiCollapseExample2">
                    <a href="#" class="list-group-item list-group-item-action">Electricite</a>
                    <a href="#" class="list-group-item list-group-item-action">Mecanique</a>
                    <a href="#" class="list-group-item list-group-item-action">Quantique</a>
                </div>
            </li>
            <li>
                <a class="" style="font-size: 16px" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample3">FRANCAIS</a>

                <div class="collapse multi-collapse list-group" id="multiCollapseExample3">
                    <a href="#" class="list-group-item list-group-item-action">Orale</a>
                    <a href="#" class="list-group-item list-group-item-action">Orthographe</a>
                    <a href="#" class="list-group-item list-group-item-action">Grammaire</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        
        <form class="row g-3" style="margin-bottom: 20px;">
            <div class=" col-md-6">
                <label for="inputTitre" class="form-label">Titre</label>
                <input type="text" class="form-control form-control-sm" id="inputTitre">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Ecrivain</label>
                <select id="inputState" class="form-select form-select-sm">
                    <option selected>Choose...</option>
                    <option>Einstein</option>
                    <option>Newton</option>
                </select>
            </div>
        </form>
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="~/images/01/001.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Titre</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>