
<div class="container">

    <article class="col-xs-12">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div style="margin-top: 100px">
                    <div class="panel-body">
                        <h3 class="thin text-center">Se Connecter à votre compte</h3>
                        <hr>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            <div class="top-margin">
                                <label class="form-label" style="font-size: 14px">Nom d'utilisateur <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" autocomplete="off" name="username">
                            </div>
                            <div class="top-margin">
                                <label class="form-label" style="font-size: 14px">Mot de passe <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" autocomplete="off" name="password">
                            </div>

                            <hr>
                            <div class="row">

                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Se Connecter</button>
                                </div>

                            </div>
                        }
                        <p style="font-size: 20px;" class="text-danger">@ViewBag.Erreur</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3"> </div>
        </div>
    </article>


</div>


