
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Bibliotheque en ligne";
}

@model IEnumerable<planete_biblio.Entities.Categorie>

<div class="p-4" style="display:inline;">
    <div class="row">
        <div class="col-md-5">
            <a  href="#" class="text-primary" style="font-size: 16px;" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">Categorie d'une livre</a>
        </div>
    </div>
    <div class="d-grid gap-3">
        <div class="row border p-2">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Code</label>
                <input type="text" class="form-control form-control-sm" id="inp10">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Intitule</label>
                <input type="text" class="form-control form-control-sm" id="inp11">
            </div>
        </div>
        <div class="row">
            <table id="grdLivre" class="table table-striped border-primary">
                <thead>
                    <tr class="d-flex">
                        <th class="col-md-2 text-center"><input name="checkAll" id="checkAll" type="checkbox" /></th>
                        <th class="col-md-5">Code</th>
                        <th class="col-md-5">Intitulé</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="d-flex">
                            <td class="col-md-2 text-center"><input type='checkbox' class='droit' id='chkCategorie' name='chkCategorie[]' value=OID_CAT /></td>
                            <td class="col-md-5">@item.CategorieId</td>
                            <td class="col-md-5">@item.Libelle</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card mt-3" style="margin-left: -10px; margin-right: -10px">
            <div class="card-body">
                <a class="btn btn-outline-secondary btn-sm" asp-area="" asp-controller="Categorie" asp-action="Create">
                    <i class="fa fa-pencil fa-fw" style="color: #3c8dbc;"></i> Ajouter
                </a>
                <a class="btn btn-outline-secondary btn-sm disabled" asp-area="" asp-controller="Categorie" asp-action="Detail">
                    <i class="fa fa-eye fa-fw" style="color: #3c8dbc;"></i> Consulter
                </a>
                <a class="btn btn-outline-secondary btn-sm disabled" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash-o fa-fw" style="color: #3c8dbc;"></i> Supprimer
                </a>
                <a class="btn btn-outline-secondary btn-sm disabled pull-right" id="print">
                    <i class="fa fa-print fa-fw" style="color: #3c8dbc;"></i> Imprimer
                </a>
            </div>
        </div>
    </div>
</div>


 @section Scripts {
     <script type="text/javascript" src="~/lib/DataTables/DataTables-1.12.1/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="~/lib/DataTables/DataTables-1.12.1/js/dataTables.bootstrap5.js"></script>
     <script type="text/javascript" src="~/lib/DataTables/ColReorder-1.5.6/js/dataTables.colReorder.js"></script>

      <script type="text/javascript">
           $(document).ready(function() {
                
                var table = $('#grdLivre').DataTable({  
                    "pageLength": 5,
                    "lengthMenu": [ 5, 10, 15, 20, 25 ],
                    "bLengthChange": false,
                    "columnDefs": [{ targets: [0], sortable: false }],
                    "order": [[1, "asc"]],
                    "oLanguage": { "sProcessing":   "Traitement en cours...",
                                   "sLengthMenu":   "Afficher _MENU_ éléments",
                                   "sZeroRecords":  "Aucun élément disponible",
                                   "sInfo": "Affichage de l'élement _START_ à _END_ sur _TOTAL_ éléments",
                                   "sInfoEmpty": "Affichage de l'élement 0 à 0 sur 0 éléments",
                                   "sInfoFiltered": "(filtré de _MAX_ éléments au total)",
                                   "sInfoPostFix":  "",
                                   "sSearch":       "Rechercher:",
                                   "sUrl":          "",
                                   "oPaginate": {
                                                "sFirst":    "Premier",
                                                "sPrevious": "Préc",
                                                "sNext":     "Suiv",
                                                "sLast":     "Dernier"
                                                }
                                 },
                    "autoWidth": false
                });

                $(".dataTables_filter").hide();
                $(".dataTables_info").hide();
                $('.dataTables_paginate').addClass("pull-right");
           });
      </script>
 }
