<!DOCTYPE html>
<html lang="fr">
<head>
    <title>planete-vente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Scholarly web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link rel="stylesheet" href="~/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/swipebox.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="main_section_agile fixed-top" id="home">
        <div class="agileits_w3layouts_banner_nav ">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">K</span>
                    </button>
                    <h1><a class="navbar-brand" href="#"><i class="fa fa-leanpub" aria-hidden="true"></i> PLANETE</a></h1>
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="active"> <a class="effect-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="About">A propos</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="Service">Services</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                            </ul>
                        </nav>

                    </div>
                    <ul class="agile_forms w3layouts_header_right">
                        <li><a class="active" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Connecter</a></li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- banner -->
    <div class="container-fluid mt-5">
        <div class="container-fluid pt-4">
            <div class="collapse collapse-horizontal show" style="float:left; margin-right: 30px; margin-top: 15px;" id="collapseWidthExample">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <a href="#" class="accordion-button collapsed btn btn-sm text-primary" style="font-size: 13px; padding: 0.5rem 1.25rem;" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <small style="padding-right: 10px;">PARAMETRES</small>
                            </a>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Livre" asp-action="Index">Livre</a>
                                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Auteur" asp-action="Index">Auteur</a>
                                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Editeur" asp-action="Index">Editeur</a>
                                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Categorie" asp-action="Index">Categorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <a href="#" class="accordion-button collapsed btn btn-sm text-primary" style="font-size: 13px; padding: 0.5rem 1.25rem;" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <small style="padding-right: 10px;">USERS/ROLES</small>
                            </a>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action">Utilisateur</a>
                                    <a href="#" class="list-group-item list-group-item-action">Role</a>
                                    <a href="#" class="list-group-item list-group-item-action">Utilisateur/Role</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <a href="#" class="accordion-button collapsed btn btn-sm text-primary" style="font-size: 13px; padding: 0.5rem 1.25rem;" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <small style="padding-right: 10px;">CONFIGURATION</small>
                            </a>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action">Pays</a>
                                    <a href="#" class="list-group-item list-group-item-action">Langue</a>
                                    <a href="#" class="list-group-item list-group-item-action">Status</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main role="main" class="pb-3">
                @RenderBody() 
            </main>
        </div>
    </div>

    <div class="w3layouts_copy_right" style="margin-top: 50px;">
        <div class="container">
            <p>© 2022 Vente livre. All rights reserved | Design by <a href="http://w3layouts.com">R. Jean Fidele.</a></p>
        </div>
    </div>

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/bootstrap5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
