<!DOCTYPE html>
<html lang="fr">
<head>
    <title>planete-vente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Scholarly web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link rel="stylesheet" href="~/bootstrap5/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/swipebox.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="main_section_agile" id="home">
        <div class="agileits_w3layouts_banner_nav ">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">K</span>
                    </button>
                    <h1><a class="navbar-brand" href="#"><i class="fa fa-leanpub" aria-hidden="true"></i> PLANETE</a></h1>

                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-2" id="link-effect-2">
                            <ul class="nav navbar-nav">
                                <li class="active"> <a class="effect-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="About">A propos de nous</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li><a class="effect-3" asp-area="" asp-controller="Home" asp-action="Service">Services</a></li>
                            </ul>
                        </nav>

                    </div>
                    <ul class="agile_forms w3layouts_header_right">
                        <li><a class="active" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>Connecter</a></li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- banner -->
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 50px;">
            @RenderBody()
        </main>
    </div>

    <div class="w3layouts_copy_right" style="margin-top: 50px;">
        <div class="container">
            <p>© 2022 Vente livre. All rights reserved | Design by <a href="http://w3layouts.com">R. Jean Fidele.</a></p>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/bootstrap5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
